<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        Hello, {{{ userName }}}!<br>
        Your password was reseted. You may login now with your new password :D
    </body>
</html>