<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        Hello, {{{ userName }}}!<br>
        Please, click the link below and active your account:<br> 
        <a href="{{ activationLink }}">Click here</a><br><br><br>
        <small>{{{ activationLink }}}</small>
    </body>
</html>